@import "Layout/footer.scss";
@import "Layout/header.scss";
@import "Layout/layout.scss";
@import "Utils/keyframes.scss";
@import "Components/button.scss";
@import "Pages/section.scss";
.logo1 {
  background-image: url(../ressources/logo/heart.svg);
  height: 1.3rem;
  width: 1.3rem;
  &:hover {
    background-image: url(../ressources/logo/heart-solid.svg);
    transition: 1.5s;
    height: 1.3rem;
    width: 1.3rem;
  }
}
.line {
  border-bottom: 4px solid #99e2d0;
  width: 40px;
}

.card-menu {
  animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
  -webkit-animation: fadein 2.5s;
  -o-animation: fadein 2.5s;
}
.test {
  display: flex;
  font-weight: 600;
  padding-bottom: 10px;
}

.logo-title {
  font-family: "Shrikhand";
}

.banner {
  display: flex;
  margin-bottom: -4em;
}

.logo {
  height: 1rem;
  width: 1rem;
}
.localisation {
  background-color: #ebebeb;
  .localisation-form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
  }
}
.city {
  border: none;
  background-color: transparent;
  width: 8rem;
}

.restaurant-reservation {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  align-items: center;
  height: 300px;
  justify-content: center;
  .title-reservation {
    font-size: 1.5em;
    text-align: center;
    width: 70%;
    font-weight: bolder;
    font-family: "Roboto-bold";
  }
  .text-reservation {
    text-align: center;
    width: 80%;
    color: gray;
  }
}

.choice-list {
  .all-card {
    display: flex;
    padding-left: 0px;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    .card-choice {
      background-color: #f5f5f5;
      border: transparent;
      border-radius: 1.2rem;
      display: flex;
      align-items: center;
    }
  }
}
.pastille {
  width: 1.5rem;
  height: 1.4rem;
  background-color: #9356dc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: translateX(-10px);
  font-size: 0.9em;
}
.informations {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  > .logo-card {
    height: 1.5em;
    width: 1.5em;
  }
  > .text-information {
    width: 80%;
    font: 1em;
    font-family: "Roboto";
    font-weight: bolder;
  }
}
.link {
  height: 200px;
  text-decoration: none;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 20%);
  background-color: white;
  display: flex;
  flex-direction: column;
  > .card {
    border-radius: 1rem 1rem 0 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    > .picture {
      border-radius: 1rem 1rem 0 0;
      height: 100%;
      object-fit: cover;
    }
  }
}
.picture {
  object-fit: cover;
}
.new {
  position: absolute;
  background-color: #99e2d0;
  color: green;
  position: absolute;
  background-color: #99e2d0;
  color: green;
  display: flex;
  border-radius: 0.2rem;
  top: 15px;
  right: 15px;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  font-weight: 600;
  font-size: 0.9em;
}

.all-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.card-info {
  display: flex;
  height: 30%;
  justify-content: space-between;
  color: black;
  align-items: center;
  padding: 10px 20px 10px 10px;

  > .text-information {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    > h3 {
      margin: 0 0 5px 0;
      font-weight: 900;
      font-family: "Roboto-bold";
    }
    > p {
      margin: 0 0 5px 0;
      font-weight: bold;
      font-family: "Roboto-thin";
    }
  }
}

.cutlery {
  width: 1rem;
  height: 1rem;
}
.hands {
  width: 1rem;
  height: 1rem;
}
.title {
  display: flex;
  align-items: center;

  > h2 {
    font-family: "Shrikhand";
    font-style: normal;
    font-weight: 500;
  }
}

.entree {
  display: flex;
  flex-direction: column;
}

.information-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .text {
    font-family: "Roboto-thin";
    font-size: 0.8em;
    width: 100%;
    font-weight: 600;
  }
}
.text {
  margin: 0;
  font-family: "Roboto";
  display: flex;
  font-size: 0.9em;
}
.title-menu {
  font-family: "Roboto-thin";
  margin-bottom: 0;
}

.button {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
@media only screen and (max-width: 450px) {
  .test {
    align-items: flex-end;
    padding-right: 20px;
    width: 10%;
  }
  .text {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: block;
    overflow: hidden;
  }
  .line {
    margin: 5px 0 0 22px;
  }

  .picture {
    width: 100%;
  }

  .test3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    transition: all 900ms ease-in-out;
  }
  .name-menu:hover {
    border: none;
    outline: none;
    .sami-test2 {
      transform: rotate(1turn);
    }
    .test-sami {
      border-radius: 0 0.8rem 0.8rem 0;
      width: 20%;
    }
    .test3 {
      width: 60%;
    }
  }
  .test-sami {
    width: 0%;
    font-size: 100rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 1100ms ease-in-out;
    background-color: #99e2d0;
  }
  .sami-test {
    width: 50%;
    height: 50%;
  }
  .sami-test2 {
    border-radius: 100%;
    height: 30%;
    width: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1300ms ease-in-out;
  }
  .all-card {
    flex-direction: column;
  }
  .card-choice {
    width: 90%;
    height: 60px;
  }

  .card-restaurant {
    height: 900px;
  }
  .link {
    width: 90%;
  }
  .title {
    justify-content: space-around;
    margin-top: 20px;
  }
  .card-menu {
    height: 300px;
  }
  .restaurant > h2 {
    margin-left: 25px;
  }
  .title-menu {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1023px) {
  .choice-list {
    height: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > h2 {
      width: 100%;
      text-align: center;
    }
  }
  .card-choice {
    width: 35%;
  }
}
@media only screen and (min-width: 451px) {
  .test {
    justify-content: center;
  }
  .line {
    margin-bottom: 20px;
  }

  .test3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: all 2000ms ease-in-out;
  }
  .sami-test {
    height: 50%;
    width: 50%;
  }
  .sami-test2 {
    border-radius: 100%;
    height: 0%;
    width: 0%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2000ms ease-in-out;
  }

  .name-menu:hover {
    border: none;
    outline: none;
    .sami-test2 {
      width: 10%;
      height: 80%;
    }
    .test-sami {
      background-color: #99e2d0;
      border-radius: 0 0 0.8rem 0.8rem;
      height: 25%;
    }
  }
  .test-sami {
    width: 100%;
    font-size: 100rem;
    height: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 2000ms ease-in-out;
  }
  .banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    align-items: center;
    .picture {
      width: 100%;
      height: 100%;
    }
  }
  .restaurant {
    align-items: center;
    height: 550px;
  }
  .card-restaurant {
    flex-wrap: wrap;
    height: 80%;
  }
  .link {
    width: 45%;
  }

  .title {
    justify-content: space-around;
    align-self: center;
    width: 30%;
    max-width: 350px;
    min-width: 300px;
    > .logo {
      margin: 25px 10px 0 0;
    }
  }
  
  .text {
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
  }
  .menu-restaurant {
    height: 950px;
  }
  .card-choice {
    height: 65px;
  }
}
@media only screen and (min-width: 1024px) {
  .choice-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }
  .restaurant {
    align-items: center;
    height: 350px;
    justify-content: space-around;
    > h2 {
      margin: 0;
    }
  }
  .link {
    width: 20%;
  }
  .card-choice {
    width: 20%;
  }
}
