header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background: rgba(211, 211, 211, 0.836);
}
header > .logo-picture {
  width: 40%;
}
header > .logo-picture > .img-logo {
  width: 100%;
}
header > .shopping-cart {
  font-size: 1.3em;
}
header > .link-accueil {
  font-size: 1.3em;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 450px) {
  a {
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 451px) {
  a {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 450px) {
  .products {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: linear-gradient(#FF79DA, #9256dc);
    height: 750px;
  }
  .products > .title-products {
    text-align: center;
  }
  .products > .info-products {
    text-align: center;
  }
  .products > .product-list {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-around;
    align-items: center;
  }
  .products .card-product {
    width: 98%;
    height: 18%;
  }
  .products .product-image {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 0.9em 0 0 0.9em;
  }
  .products .link-products {
    display: flex;
    height: 100%;
    background: lightgrey;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  }
  .products .product-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 5px;
    justify-content: space-around;
  }
  .products .product-informations > .product-description {
    font-size: 0.9em;
    text-align: justify;
  }
  .products .product-informations > .name-product {
    font-size: 1.5em;
  }
  .products .product-informations > .price {
    font-weight: bolder;
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 451px) and (max-width: 581px) {
  .products {
    height: 1000px;
  }
}
@media only screen and (min-width: 581px) and (max-width: 1024px) {
  .products {
    height: 1000px;
  }
  .products .card-product {
    width: 45%;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1024px) {
  .products {
    background-image: linear-gradient(#FF79DA, #9256dc);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products > .product-list {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 30px;
  }
  .products .card-product {
    width: 45%;
    background: lightgrey;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
    max-height: 285px;
  }
  .products .product-image {
    width: 100%;
    border-radius: 0.9em 0.9em 0 0;
    /* object-fit: cover; */
    height: 55%;
  }
  .products .link-products {
    width: 100%;
    height: 100%;
  }
  .products .product-informations {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .products .product-informations > .name-product {
    font-size: 1.1em;
  }
  .products .product-informations > .product-description {
    text-align: justify;
    font-size: 0.8em;
    padding: 5px;
  }
  .products .product-informations > .price {
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 1025px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 950px;
    background-image: linear-gradient(#FF79DA, #9256dc);
    justify-content: space-around;
  }
  .products > .info-products {
    width: 100%;
    text-align: center;
  }
  .products > .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 85%;
  }
  .products > .product-list > .card-product {
    height: 250px;
    width: 30%;
    background: lightgrey;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  }
  .products > .product-list > .card-product > .link-products {
    width: 100%;
    height: 100%;
  }
  .products > .product-list > .card-product > .link-products > .product-image {
    width: 100%;
    height: 60%;
    border-radius: 1em 1em 0 0;
  }
  .products > .product-list > .card-product > .link-products > .product-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products > .product-list > .card-product > .link-products > .product-informations > .name-product {
    font-size: 1.1em;
  }
  .products > .product-list > .card-product > .link-products > .product-informations > .product-description {
    text-align: center;
    font-size: 0.8em;
  }
  .products > .product-list > .card-product > .link-products > .product-informations > .price {
    font-weight: bolder;
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 2000px) {
  .card-product {
    height: 350px !important;
  }

  .product-image {
    height: 80% !important;
  }
}
footer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: lightgrey;
}
footer > .social {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
footer > .social .social-logo {
  width: 2em;
}
footer > .menu-footer {
  display: flex;
  justify-content: space-around;
}
footer a {
  font-size: 1em;
}

@media only screen and (max-width: 450px) {
  .producte {
    height: auto !important;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .producte .shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 150px;
    margin-top: 20px;
  }
  .producte .shop .color-choice {
    border-radius: 2em;
  }

  .product-list {
    margin-top: 15px;
  }

  .shop-button {
    border-radius: 5rem;
    height: 3rem;
    width: 12em;
    background-image: linear-gradient(#79ceff, #9256dc);
    border: none;
    color: white;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.shop-button {
  border-radius: 5rem;
  height: 3rem;
  width: 12em;
  background-image: linear-gradient(#79ceff, #9256dc);
  border: none;
  color: white;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (min-width: 451px) and (max-width: 1024px) {
  .producte {
    height: 450px !important;
  }
  .producte .shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 100px;
    margin-top: 20px;
  }
  .producte .shop .color-choice {
    display: flex;
    align-self: center;
  }
  .producte .shop .quantity-label {
    display: flex;
    align-self: center;
  }
  .producte .quantity {
    height: 2rem;
    display: flex;
    align-self: center;
  }
}
@media only screen and (min-width: 1025px) {
  .producte {
    height: 750px !important;
  }
  .producte .card-product {
    height: 350px !important;
    width: 75% !important;
  }
  .producte .card-product .product-image {
    height: 80% !important;
  }
  .producte .shop {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.color-choice {
  border-radius: 2em;
  height: 2rem;
}

@media only screen and (min-width: 451px) {
  .shop-button {
    margin-top: 15px;
    font-size: 1em;
  }
}
.array-section {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  background-image: linear-gradient(#FF79DA, #9256dc);
}
.array-section h1 {
  text-align: center;
}
.array-section table {
  border: 2px black solid;
  border-collapse: collapse;
  width: 100%;
  background-color: lightgray;
}
.array-section table > thead {
  border: 2px black solid;
}
.array-section table > thead > tr {
  border: 2px black solid;
}
.array-section table > thead > tr > th {
  border: 2px black solid;
}

.image-basket {
  width: 60px;
  height: 40px;
}

h3 {
  font-size: 1em !important;
}

.div-image {
  width: 60px;
  height: 40px;
}
.div-image img {
  width: 100%;
  height: 100%;
}

.form-div {
  display: none;
}

.form-active {
  display: flex;
  height: 45%;
  flex-direction: column;
}
.form-active > h2 {
  text-align: center;
}

.button {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.box {
  text-align: center;
}

tr li {
  text-align: center;
}
tr .contenair {
  border: 2px solid black;
}

.text-information {
  text-align: center;
}
.text-information > p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.return {
  margin-top: 15px;
  border-radius: 5rem;
  height: 3rem;
  width: 12em;
  background-image: linear-gradient(#79ceff, #9256dc);
  border: none;
  color: white;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.return > a {
  color: white;
  font-size: 1em;
}

@media only screen and (max-width: 450px) {
  .array-section {
    height: 600px;
    justify-content: space-around;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .form-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-informations > a {
    margin-top: 15px;
  }
}
.form-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-informations > a {
  margin-top: 15px;
}

@media only screen and (min-width: 450px) {
  th {
    font-size: 1.8em;
  }

  tr li {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 450px) {
  .form-class {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 100%;
  }
  .form-class > .contenair-color {
    justify-content: center;
    width: 90%;
    display: flex;
    align-items: center;
  }
  .form-class > .contenair-color > .color {
    margin-right: 10px;
  }
  .form-class > .contenair-quantity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-class > .contenair-quantity > .quantity-label {
    margin-right: 10px;
  }
  .form-class > .contenair-quantity > .quantity {
    border-radius: 2em;
  }
  .form-class > .contenair-check {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.answer-yes {
  margin-left: 10px;
  font-size: 1em;
}

.answer-no {
  margin-left: 10px;
  font-size: 1em;
}

.bought {
  text-align: center;
}

.product-teddy {
  height: auto !important;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: linear-gradient(#FF79DA, #9256dc);
  height: 750px;
}
.product-teddy > .title-products {
  text-align: center;
}
.product-teddy > .info-products {
  text-align: center;
}
.product-teddy > .product-list {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.product-teddy > .product-list > .card-product {
  width: 98%;
  height: 18%;
}
.product-teddy > .product-list > .card-product > .link-products {
  display: flex;
  height: 100%;
  background: lightgrey;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}
.product-teddy > .product-list > .card-product > .link-products > .product-image {
  object-fit: cover;
}
.product-teddy > .product-list > .card-product > .link-products > .product-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 5px;
  justify-content: space-around;
}
.product-teddy > .product-list > .card-product > .link-products > .product-informations > .price {
  font-weight: bolder;
}
.product-teddy > .shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 150px;
  margin-top: 20px;
}
.product-teddy > .bought {
  margin-top: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

@media only screen and (max-width: 450px) {
  .product-image {
    width: 50%;
    border-radius: 0.9em 0 0 0.9em;
  }

  .name-product {
    font-size: 1.5em;
  }

  .product-description {
    font-size: 0.9em;
    text-align: justify;
  }

  .price {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1023px) {
  .product-teddy .link-products {
    flex-direction: column;
  }
  .product-teddy .product-image {
    border-radius: 1em 1em 0 0;
  }
  .product-teddy .name-product {
    font-size: 2em;
  }
  .product-teddy .product-description {
    font-size: 1.5em;
    text-align: center;
  }
  .product-teddy .price {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 1024px) {
  .product-teddy .product-image {
    width: 50%;
    border-radius: 0 1em 1em 0;
  }
  .product-teddy .link-products {
    flex-direction: row-reverse;
  }
  .product-teddy .product-description {
    text-align: center;
    font-size: 2em;
  }
  .product-teddy .name-product {
    font-size: 2.5em;
  }
  .product-teddy .price {
    font-size: 2.3em;
  }
}
.confirmation {
  background-image: linear-gradient(#FF79DA, #9256dc);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmation > p {
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .confirmation > h2 {
    font-size: 0.9em;
  }
  .confirmation > p {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 451px) {
  .confirmation > h2 {
    font-size: 1em;
  }
  .confirmation > p {
    font-size: 0.9em;
  }
}
.contenair-article {
  background-image: linear-gradient(#FF79DA, #9256dc);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contenair-article > .introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenair-article > .introduction > p {
  text-align: center;
}
.contenair-article > .article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenair-article > .article > p {
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .contenair-article {
    height: 1500px;
  }
}
@media only screen and (min-width: 550px) {
  .contenair-article {
    height: 1000px;
  }
}
.animations-button:hover {
  transform: scale(1.2);
}

.animations-button {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
