.logo1{
  background-image: url(../ressources/logo/heart.svg);
  &:hover{
    background-image: url(../ressources/logo/heart-solid.svg);
transition: 1.5s;}
}
.line {
  border-bottom: 4px solid #99E2D0;
  width: 40px;
  margin: 5px 0 25px 22px;
}

@keyframes onandoff{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    z-index: 1;
    visibility: hidden;
  }
}
@keyframes bloc{
  0%{
    
    margin-left: -200px;
    border-radius: 100%;
    transform: rotate(360deg);
    transition: all 2s ease-in-out;
  }
  
  
  100%{
    margin-left: 500px;
    border-radius: 100%;
    transform: rotate(360deg);
    transition: all 2s ease-in-out;
  
  }
}
@keyframes fadein{
  0% {
    opacity: 0;
    transition: 200ms;
    transform: translateY(100px);
}
100% {
    opacity: 1;
    transition: 200ms;
}
}
.line{
 
  border-bottom: 4px solid #99E2D0;
    width: 40px;
    margin: 5px 0 25px 22px;}

.card-menu{
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
}
.load-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  background-image: linear-gradient(#FF79DA 10%, #9356DC 95%);
  width: 100%;
  height: 100%;
  animation: onandoff 3s linear forwards;
  pointer-events: none;
  .title-load{   
     font-family: Shrikhand, "cursive";
    font-size: xx-large;
    padding-bottom: 10px;
}
.load{    display: inline-block;
  width: 30px;
  height: 30px;
  
  vertical-align: middle;
  
  border: 4px solid #181818;
 
 
  animation: bloc 3s;
  -moz-animation: bloc 3s;
  -webkit-animation: bloc 3s;
  -o-animation: bloc 3s;
 
}
}
  

  
 



@font-face {
  font-family:"Roboto-bold" ;
  src: url(../ressources/font_family/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family:"Shrikhand";
  src: url(../ressources/font_family/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
@font-face {
  font-family:"Roboto-thin" ;
  src: url(../ressources/font_family/Roboto/Roboto-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(../ressources/font_family/Roboto/Roboto-Regular.ttf);
}
body{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
}

.banner{
  display: flex;
  margin-bottom: -4em;
}
.first{
  width: 100%;
  justify-content: center;
}
.second{
  width: 80%;
  justify-content: space-around;
}
.logo-header{
    display: flex;
    align-items: center;
    margin:  15px 0;

  .restaurant-logo{
    width: 50%;
  }
}
.logo{
  height: 1rem;
  width: 1rem;
}
.localisation{
  background-color: #ebebeb;
  .localisation-form{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
  }
}
.city{
  border: none;
    background-color: transparent;
    width: 8rem;
}
.maps-button{
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  .icon-maps{
    height: 0.7rem;
    
    background-color: transparent;
  }
}
.restaurant-reservation{
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  align-items: center;
  height: 300px;
  justify-content: center;
    .title-reservation{
      
    font-size: 1.5em;
    text-align: center;
    width: 70%;
    

    }
    .text-reservation{
      text-align: center;
      width: 80%;
    }
}
.exploration{
  border-radius: 5rem;
  height: 3rem;
  width: 15em;
  background-image: linear-gradient(#FF79DA, #9256dc);
  border: none;
  color: white;
  box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 30%);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
    &:hover{
    background-image: linear-gradient(#ff8de0, #9d67e0);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 75%);
    }
}
.choice-list{


.all-card{
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  height: 70%;
.card-choice{
  background-color: #f5f5f5;
  border: transparent;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
}
}
.pastille{
  width: 2rem;
  height: 2rem;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: translateX(-10px);
}
.informations{
  display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    >.logo-card{
      height: 1.5em;
    width: 1.5em;
    }
    >.text-information{   
      width: 80%;
      font: 1em;
     }
}
.link{
  
  height: 200px;
  text-decoration: none;
  border-radius: 2rem;
    box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 20%);
  >.card{
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 20%);
    height: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    >.picture{
      border-radius: 2rem 2rem 0 0;
      height: 100%;
      object-fit: cover;
    }
  }
}
.picture{
 object-fit: cover;
}
.new{
  position: absolute;
  background-color: #99e2d0;
  color: green;
  position: absolute;
  background-color: #99e2d0;
  color: green;
  display: flex;
  border-radius: 0.2rem;
  top: 15px;
  right: 15px;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  font-weight: 500;
}

.all-card{
  display: flex;
  width: 100%;
    align-items: center;
    justify-content: space-around;
}


.card-info{
  display: flex;
    height: 35%;
    justify-content: space-around;
    color: black;
    align-items: center;

  >.text-information{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    >h3{margin: 0 0 5px 0;}
   >p{margin:0 0 5px 0;}
  }
}
.restaurant{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;

}



.menu{
  display: flex;
  flex-direction: column;
}
.cutlery{
  width: 1rem;
  height: 1rem;
}
.hands{
  width: 1rem;
  height: 1rem;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: white;
  
}
footer{
  background-color: #353535;
  >h2{
    color:white;
    margin-left:25px;
    font-family: 'Shrikhand';
  }
   .logo{
    padding-right: 10px;
  }
  }
  .title{
    display: flex;
    align-items: center;
    padding: 0 20px;
    >h2{
      font-family: "Shrikhand";
      font-style: normal;
      font-weight: 500;
    }
  }
  .menu-restaurant{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    border-radius: 3em 3em 0 0;
   
  }
  .entree{
    display: flex;
    flex-direction: column;
  }
  .name-menu{
    display: flex;
    
    cursor: pointer;
    box-shadow: 5px 8px 12px -2px #d1d1d1;
    border-radius: 1em;
    background-color: white;
    height: 60px;
    justify-content: space-around;
    padding: 0px;
    border: none;
  }
  .information-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    >.text{
      font-family: 'Roboto-thin';
      font-size: 0.95em;
    }
  }
  .text{
    margin: 0;
    font-family: 'Roboto';
    display: flex;
  }
  .title-menu{
    margin-left: 20px;
    font-family: 'Roboto-thin';
  }

 
.button{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
@media only screen and (max-width: 450px){
.text{
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  display: block;
  overflow: hidden;
  margin-bottom: 2px;
}

  



  body{
    min-width: 320px;
  }
  .picture{
    width: 100%;
  }
  
  .test3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    transition: all 900ms ease-in-out
  }








  .name-menu:hover{
    border: none;
    outline: none;
    .sami-test2{
      transform: rotate(1turn);
    
     
    }
    .test-sami {
      
      
      
      border-radius: 0  0.8rem 0.8rem 0;
      
      width:30%;
    }
    .test3{
      width: 70%;
    }
  }
  .test-sami{
   
width: 0%;
 font-size: 100rem;
    height: 100%;
    justify-content: center;
    align-items: center;
   display: flex;
    transition: all 1100ms ease-in-out;
    background-color: #99E2D0;

  }
  .sami-test{
    width: 50%;
    height: 50%;
  }
  .sami-test2{
    border-radius: 100%;
    height: 50%;
    width: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1300ms ease-in-out;
    ;
  }
  
  .choice-list{
    height: 300px;
    >h2{
      margin-left: 25px;
    }
  }
  .all-card{
    flex-direction: column;
  }
  .card-choice{width: 90%;}
  
  .card-restaurant{
    height: 900px;
  }
  .link{
    width: 90%;
  }
  .title{
    justify-content: space-between;
  }
  .card-menu{
    height: 300px;
  }
  .name-menu{
    width: 90%;
  }
  .menu-restaurant{
    height: 1350px;
  }
  .restaurant>h2{
     margin-left: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1023px){
  
  .choice-list{
    height: 250px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    >h2{
      width: 100%;
      text-align: center;
    }
  }
  .card-choice{
    width: 35%;
  }
  
  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
 
}
@media only screen and (min-width: 451px){

  .exemple {
    display: flex;
    flex-direction: column;

    .menu {
      display: flex;
      flex-direction: column;

    }

    .bottom-border {
      background-color: red;
      height: 0px;
      display: none;
      -webkit-transition: height 1.5s ease-out, background 2s ease;
    }
  }

  .exemple:hover {
    
    .bottom-border {
      height: 10px;
      -webkit-transition: height 1.5s ease-out, background 2s ease;

      display: flex;
      
    }
  }

  .test3{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: all 2000ms ease-in-out
  }
  .sami-test{
    height: 50%;
    width: 50%;
  }
  .sami-test2{
    border-radius: 100%;
    height: 0%;
    width: 0%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2000ms ease-in-out
    
  }

  .name-menu:hover{
    border: none;
    outline: none;
    .sami-test2{
      width: 20%;
      height: 80%;
    }
    .test-sami {
      
      background-color: #99E2D0;
      /*
      -webkit-transition: height 2s ease-in-out, background 13s  ease-in-out;*/
      border-radius: 0 0 0.8rem 0.8rem;
      
      height:25%;
    }
    
  }
  .test-sami{
   
width: 100%;
 font-size: 100rem;
    height: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
   
    transition: all 2000ms ease-in-out

  }
  
  .banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    align-items: center;
    .picture{
      width: 100%;
      height: 80%;
    }
  }
  
 
  .restaurant{
    align-items: center;
    height: 550px;
  }
  .card-restaurant{
    flex-wrap: wrap;
    height: 80%;
  }
  .link{
    width: 45%;
  }
  
  .title{justify-content: center;
  >h2{
    margin: 25px 10px 0 0;
  }
  >.logo{margin: 25px 10px 0 0;}
  }
  .starter{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name-menu{
    width: 25%;
    height:150px;
    flex-direction: column;
  }
  .main-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dessert{display: flex;
    flex-direction: column;
    align-items: center;
  }
  .information-menu{
    flex-direction: column;
  }
  .text{
    justify-content:  center;
    margin-bottom: 5px;
    padding: 5px
  }
  .menu-restaurant{
    height: 950px;
  }
  .name-menu-bis{
    width: 20%;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu{
    width: 100%;
    >ul{
      display: flex;
      justify-content: space-around;
    }
  }
}
@media only screen and (min-width: 1024px){
  .choice-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }
  .restaurant{
    align-items: center;
    height: 350px;
    justify-content: space-around;
    >h2{
      margin: 0;
    }
  }
  .link{
    width: 20%;
  }
  
  
}