footer {
  background-color: rgb(72, 72, 72);
  padding-bottom: 15px;
  padding-right: 10px;
  > h2 {
    color: white;
    margin: 20px 0 0 25px;
    font-family: "Shrikhand";
    font-size: 1.1em;
    font-weight: 100;
  }
  .logo {
    padding-right: 10px;
    margin: 0;
    width: 1rem;
    height: 1rem;
  }
  ul {
    list-style-type: none;
    padding-left: 25px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

@media only screen and (min-width: 451px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .menu {
    width: 100%;
    > ul {
      display: flex;
      justify-content: space-around;
    }
  }
}
@media only screen and (min-width: 2000px){
  footer{
    h2{
      font-size: 2.4rem  !important;
    }
    a{
      font-size: 2rem !important;
    }
    .logo{
      height: 2rem;
      width: 2rem;
    }
  }
}
