header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background: rgba(211, 211, 211, 0.836);
  >.logo-picture{
    width: 40%;
>.img-logo{
  width: 100%;
}

  }
  >.shopping-cart{
    font-size: 1.3em;
  }
  >.link-accueil{
    font-size: 1.3em;
  }
}