.first {
  width: 100%;
  justify-content: center;
}
.second {
  width: 80%;
  justify-content: space-around;
  height: 50px;
  >.title-header{
        margin: 0 !important;
    font-size: 1.5em;
}
  }

.logo-header {
  display: flex;
  align-items: center;

  .restaurant-logo {
    width: 50%;
  }
  .title-header {
    font-family: "Shrikhand";
    margin: 15px 0 10px 0;
  }
}
@media only screen and (min-width: 451px) {
  .second{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}
