// all version//
.logo-header {
  display: flex;
  align-items: center;

  .restaurant-logo {
    width: 50%;
  }
  .title-header {
    font-family: "Shrikhand";
    margin: 15px 0 10px 0;
  }
}
.first {
  width: 100%;
  justify-content: center;
}
.logo {
  width: 1rem;
  height: 1rem;
}
.second {
  width: 80%;
  justify-content: space-around;
  height: 50px;
  > .title-header {
    margin: 0 !important;
    font-size: 1.5em;
  }
}
//end all version

//version only tablet and desktop//
@media only screen and (min-width: 451px) {
  .second {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}

//end version tablet and desktop//
@media only screen and (min-width: 1023px) {
  header {
    h1 {
      font-size: 2.5rem !important;
    }
    .logo {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .second{
    height: 75px !important;
  }
}
@media only screen and (min-width: 2000px) {
  header {
    h1 {
      font-size: 4rem !important;
    }
  }
  .second{
    height: 100px !important;
    max-width: 550px;
    .logo{
      height: 2rem;
      width: 2rem;
    }
  }
}
