@media only screen and (max-width: 450px) {
  .activity-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1305px;
    justify-content: space-around;
  }
  .marseille-activity {
    height: 195px;
    width: 90%;
  }
  .activity-marseille {
    border-radius: 17px;
    box-shadow: 1px 1px 1rem rgb(163 163 163 / 90%);
    height: 100%
  }
  .activity-img, .activity-img-bis {
    height: 80%;
    border-radius: 1em 1em 0 0;
  }
  .activity-info {
    height: 20%;
  }
  .activity-info>h3 {
    font-size: 1.3em;
  }
  .activity-marseille-bis {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 432px;
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .activity-section {
    height: 510px;
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
  }
  .marseille-activity {
    height: 90%;
    width: 23%;
  }
  .activity-marseille {
    border-radius: 7%;
    box-shadow: 1px 1px 1rem rgb(163 163 163 / 90%);
    height: 100%;
    width: 100%;
  }
  .activity-img {
    width: 100%;
    height: 86%;
    border-radius: 1em 1em 0 0;
  }
  .activity-info {
    height: 14%;
  }
  .activity-info>h3 {
    font-size: 1em;
  }
  .activity-marseille-bis {
    justify-content: space-between;
    height: 90%;
    width: 23%;
    flex-direction: column;
  }
  .activity-ter {
    height: 52% !important;
  }
  .activity-bis {
    height: 40% !important;
  }
  .activity-marseille-bis>.marseille-activity {
    width: 100%;
    height: 45%;
  }
  .activity-marseille-bis>a>.activity-marseille {
    height: 100%;
  }
  .activity-img-bis {
    height: 70%;
    border-radius: 1em 1em 0 0;
  }
  .frioul-picture {
    height: 65% !important;
  }
  .pomegues-picture {
    height: 75% !important;
  }
  .frioul-info {
    height: 35% !important;
  }
  .pomegues-info {
    height: 25% !important;
  }
  .activity-marseille-bis>.marseille-activity>.activity-marseille>.activity-info {
    height: 30%;
  }
}

@media only screen and (min-width:2000px) {
  .activity-section {
    height: 1000px;
  }
  .activity-info>h3 {
    font-size: 1.8em;
  }
}
/*all version*/
#activities {
  margin: 60px 50px 25px 50px;
}

.activity-marseille-bis>a>.activity-marseille {
  margin-bottom: 0px;
  border-radius: 17px;
  box-shadow: 1px 1px 1rem rgb(163 163 163 / 90%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.activity-section {
  display: flex;
}

.activity-marseille-bis {
  display: flex;
}

.activity-marseille {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.activity-img {
  width: 100%;
  object-fit: cover;
}

.activity-img-bis {
  width: 100%;
  object-fit: cover;
}

.activity-marseille>h3 {
  align-self: flex-start;
  padding-left: 10px;
}
.activity-info>h3 {
  display: flex;
  align-items: center;
  margin: 0px;
}
.activity-info {
  display: flex;
  align-self: flex-start;
  padding-left: 15px;
}
/*end all version*/
@media only screen and (min-width: 451px) and (max-width: 1024px) {
  .activity-section {
    display: flex;
    flex-wrap: wrap;
    height: 1850px;
    justify-content: space-around;
    align-content: space-around;
  }
  .marseille-activity {
    width: 90%;
    height: 350px;
  }
  .activity-marseille {
    width: 100%;
    border-radius: 7%;
    box-shadow: 1px 1px 1rem rgb(163 163 163 / 90%);
    height: 100%;
  }
  .activity-img {
    width: 100%;
    height: 70%;
    border-radius: 1em 1em 0 0;
  }
  .activity-info {
    height: 30%;
  }
  .activity-marseille-bis {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .activity-marseille-bis>.marseille-activity {
    width: 45%;
    height: 350px;
  }
  .activity-marseille-bis>.marseille-activity>.activity-marseille {
    width: 100%;
    border-radius: 7%;
    box-shadow: 1px 1px 1rem rgb(163 163 163 / 90%);
    height: 100%;
  }
  .activity-img-bis {
    height: 70%;
    border-radius: 7%;
  }
  .activity-info>h3 {
    font-size: 2em;
  }
}

