/*mobile version*/

@media only screen and (max-width: 450px) {
  .housing {
    display: flex;
    flex-direction: column;
  }
  /*accommodation*/
  .accommodation {
    height: 1600px;
    display: flex;
    flex-direction: column;
  }
  .result {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .result>.housing-link {
    width: 90%;
    height: 220px;
  }
  .cannebiere-hostel {
    order: -6;
  }
  .amina-hotel {
    order: -1;
  }
  .hotel-the-seagull {
    order: -4;
  }
  .hotel-basket {
    order: -2;
  }
  .harbor-hotel {
    order: -5;
  }
  .sea-hotel {
    order: -3;
  }
  .housing-span {
    height: 100%;
    margin: 0px;
  }
  .housing-marseille {
    width: 100%;
    height: 70%;
  }
  .house-info {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
  }
  .card-title {
    font-size: 1.3em;
  }
  .card-text {
    font-size: 1.2em;
    margin: 0 0 10px 0;
  }
  /*end accommodation*/
  /*category*/
  .category {
    order: -1;
    height: 585px;
  }
  .titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }
  .titles>h2 {
    margin-left: 0px;
  }
  .popular {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95%;
  }
  .popular>.housing-link {
    height: 142px;
    width: 90%;
  }
  .popular>.housing-link>.housing-span {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .popular>.housing-link>.housing-span>.housing-marseille {
    width: 40%;
  }
  .popular>.housing-link>.housing-span>.housing-info {
    width: 40%;
  }
  /*end category*/
}

/*end mobile version*/

/*desktop version*/

@media only screen and (min-width: 1025px) {
  .housing {
    height: 625px;
    margin: 0 50px;
  }
  /*accommodation*/
  .accommodation {
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #accommodations {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .accommodation>.title-housing {
    margin-left: 4.3%;
  }
  .result {
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
  }
  .housing-link {
    width: 27%;
    height: 41%;
  }
  .housing-span {
    width: 100%;
    height: 100%;
  }
  .housing-marseille {
    height: 65%;
    width: 100%;
  }
  .house-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35%;
    margin-left: 50px;
  }
  .card-title {
    font-size: 0.8em;
    margin: 0px;
  }
  .card-text {
    font-size: 0.7em;
    margin-top: 3px;
  }
  .star-span {
    margin: 0 0 10px 5px;
  }
  /*end accommodation*/
  /*category*/
  .category {
    border-radius: 20px;
    width: 30%;
  }
  .titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 30px;
  }
  .popular {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  .popular>.housing-link {
    width: 82%;
    max-height: 26%;
    min-height: 25%;
  }
  .popular>.housing-link>.housing-span {
    flex-wrap: wrap;
  }
  .popular>.housing-link>.housing-span>.housing-info {
    width: 45%;
    margin: 10px 0 0 5px;
  }
}

/*end desktop version*/

/*1188px screen*/

@media only screen and (min-width: 1188px) {
  .popular>.housing-link>.housing-span>.housing-info>.card-title {
    font-size: 0.9em;
  }
  .popular>.housing-link>.housing-span>.housing-info>.card-text {
    font-size: 0.8em;
  }
}

/*end 1188px screen*/

/*all version*/

.housing {
  display: flex;
  justify-content: space-between;
}

/*accommodation*/

.accommodation {
  margin-bottom: 30px;
}

.housing-span {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 17px;
  box-shadow: 2px 2px 2rem rgb(163 163 163 / 90%);
  padding: 5px;
}

.housing-marseille {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.house-info {
  margin-right: auto;
  margin-left: 15px;
}

.card-title {
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-text {
  margin-bottom: 0px;
  margin-top: 0px;
}

.star {
  height: 10px;
}

.more {
  font-weight: bold;
  font-size: small;
  margin: 25px;
  font-family: 'Raleway-ExtraBold';
}

/*end accommodation*/

/*category*/

.category {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 18px 0;
  margin-bottom: 30px;
  justify-content: space-around;
}

.esc {
  height: 15px;
  margin-right: 10px;
  align-self: center;
}

.popular>a>.housing-span {
  display: flex;
}

.popular>a>.housing-span>.housing-marseille {
  width: 50%;
  height: 99%;
  max-width: 100%;
  border-radius: 1rem 0 0 1rem;
  margin: 0;
}

/*end category*/

.price {
  font-weight: bold;
}

/*end all version*/

/*tablet version*/

@media only screen and (min-width: 451px) and (max-width: 1024px) {
  .housing {
    display: flex;
    flex-direction: column;
  }
  /*accommodation*/
  .accommodation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1500px;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  /*end accommodation*/
  /*result*/
  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 90%;
  }
  .housing-link {
    width: 50%;
    height: 25%;
  }
  .housing-span {
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .housing-marseille {
    width: 100%;
    height: 80%;
  }
  .house-info {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    justify-content: center;
  }
  .card-title {
    font-size: 0.9em;
  }
  /*end result*/
  /*category*/
  .category {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 0;
  }
  .titles {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  .popular {
    display: flex;
    justify-content: space-around;
    height: 95%;
  }
  .popular>.housing-link {
    width: 30%;
    height: 230px;
  }
  .popular>.housing-link>.housing-span {
    width: 100%;
    height: 100%;
  }
  .popular>.housing-link>.housing-span>.housing-marseille {
    width: 100%;
    height: 60%;
    border-radius: 1rem 1rem 0 0;
  }
  .popular>.housing-link>.housing-span>.housing-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .popular>.housing-link>.housing-span>.housing-info>.card-title {
    margin: 0;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
  }
  .popular>.housing-link>.housing-span>.housing-info>.card-text {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  .popular>.housing-link>.housing-span>.star-span {
    margin-left: auto;
    margin-right: auto;
  }
  /*end category*/
}

/*end tablet version*/

/*2000px*/

@media only screen and (min-width: 2000px) {
  .housing {
    height: 1150px;
  }
  /*accommodation*/
  .title-housing {
    font-size: 2em;
  }
  .card-title {
    font-size: 1.6em
  }
  .card-text {
    font-size: 1.4em;
  }
  .star-span {
    margin: 0px;
  }
  .star {
    height: 20px;
  }
  .more {
    font-size: 1.3em;
    margin-left: 50px;
  }
  /*end accommodation*/
  /*category*/
  .titles {
    margin: 0 50px 0 70px;
  }
  .titles>.title-housing {
    margin-left: 0px;
  }
  .popular>.housing-link>.housing-span {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .popular>.housing-link>.housing-span>.housing-info {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 45%;
    margin: 0px;
  }
  
  .popular>.housing-link>.housing-span>.housing-info>.card-title {
    font-size: 1.4em;
  }
  .popular>.housing-link>.housing-span>.housing-info>.card-text {
    font-size: 1.3em;
  }
  /*end category*/
}

/*end 2000px*/

/*2395px*/

@media only screen and (min-width: 2395px) {
  .popular>.housing-link>.housing-span>.housing-info>.card-title {
    font-size: 1.8em;
  }
  .popular>.housing-link>.housing-span>.housing-info>.card-text {
    font-size: 1.7em;
  }
}

/*end 2095px*/