body{
  overflow: hidden;
  cursor: crosshair;
  margin: 0;
  background: url(./img/ciel.jpg);
  

}

.bubble{
  position: absolute;
  border-radius: 100%;
  background: rgb(195, 255, 0);
  opacity: 0;
  animation: anim 8s forwards; 
  filter: hue-rotate(0deg);
}
@keyframes anim{
  to{
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}
h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: white;
}
h1{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  color: blue;
}
h2{
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
  color: aqua;
}
.chrono{
  font-size: 5rem;
  
  color: black;
  
  text-align: center;
}