body{
  overflow: hidden;
  cursor: crosshair;
  margin: 0;
  background: url(./img/ciel.jpg);

}
#mouse{
  width: 8px;
  height: 10px;
}

.bubble{
  position: absolute;
  /* border-radius: 100%; */
  background: rgb(195, 255, 0);
 
  animation: anim 8s forwards; 
  filter: hue-rotate(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  border: 1px black solid;
}
@keyframes anim{
  to{
    top: -250px;
    left: var(--left);
    
    filter: hue-rotate(720deg);
  }
}
h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: white;
}
h1{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  color: blue;
}
h2{
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
  color: aqua;
}
.chrono{
  font-size: 5rem;
  
  color: black;
  
  text-align: center;
}

a{
  list-style-type: none;
  text-decoration: none;
  color: azure;
  display: flex;
  justify-content: center;
  background: blueviolet;
  width: 10rem;
  height: 2rem;
border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  transition: all 0.8s;
} 

a:hover{
  transform: scale(1.5);
}
p{
  text-align: center;
  color:azure;
}
#end>h3{
  font-size: 1rem;
}
ul{
  display: flex;
  justify-content: center;
}
li{
  list-style-type: none;
  margin-right: 20px;
}