@media only screen and (max-width: 450px){
  .producte {
    height: auto !important;
    padding-bottom: 20px;
    padding-top: 20px;
    .shop{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
      height: 150px;
      margin-top: 20px;
      .color-choice{
        border-radius: 2em;
   
}
      }
    }
    .product-list{
      margin-top: 15px;
    }
    .shop-button{
      border-radius: 5rem;
      height: 3rem;
      width: 12em;
      background-image: linear-gradient(#79ceff, #9256dc);
      border: none;
      color: white;
      box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 30%);
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
     
    }
    
}
.shop-button{ 
  border-radius: 5rem;
  height: 3rem;
  width: 12em;
  background-image: linear-gradient(#79ceff, #9256dc);
  border: none;
  color: white;
  box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 30%);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media only screen and(min-width: 451px) and (max-width: 1024px){
  .producte{
    height: 450px !important;
    .shop{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
      height: 100px;
      margin-top: 20px;
      .color-choice{
        display: flex;
        align-self: center;
   
}
.quantity-label{
  display: flex;
    align-self: center;
}
}
.quantity{
  height: 2rem;
  display: flex;
    align-self: center;
}
      }
    .card-product{
      // width: 95% !important;
    }
  }


@media only screen and (min-width: 1025px){
  .producte{
    height: 750px !important;
    .card-product{
      height: 350px !important;
    width: 75% !important;
    .product-image{
      height: 80% !important;
    }
  }
  .shop{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  }
}
.color-choice{
  border-radius: 2em;
  height: 2rem;}
  @media only screen and (min-width:451px){
    .shop-button{
      margin-top: 15px;
    font-size: 1em;
    }
  }