$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-background:#f5f5f5;
$color-text:#ffff;
$color-text-reservation: gray;
$color-background-localisation:#ebebeb;
$color-background-card: #ffff;