footer{
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: lightgrey;
  >.social{
    display: flex;
      justify-content: space-around;
    width: 80%;
    margin: auto;
    .social-logo{
      width:  1em;
    }
  }
  >.menu-footer{
    display: flex;
    justify-content: space-around;
  }
}